h1 {
  color: black;
  text-align: center;
  font-style: oblique;
  font-size: 24;
  font-weight: bold;

}

h2 {
  color: green;
  font-style: italic;
  text-align: center;
  font-size: 18px;
}
body {
  text-align: center;
  background-image: url("../images/halsey.jpg");
}

p {
  font-family: sans-serif;
}

ul {
  line-height: 40px;
}
